#blog h3,
h4 {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    /* los items que esten dentro del contenedor sean cajas flexibles */
    justify-content: center;
    flex-wrap: wrap;
    /* cuando un elemento no encaja arriba, baje (responsive) */
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}