@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(blog.cs);
@import url(noticias.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* El box-sizing se utiliza para hacer responsive */
}

body {
    width: 100% font-family: 'Nunito', sans-serif;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 56px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}


/* MENU */

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(255, 255, 255);
    transition: all .3s;
}


/* Submenu*/

.submenu {
    position: absolute;
    background: #333333;
    width: 200%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.btn-danger {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url('up1.png');
    background-size: cover;
}

.parallax {
    /* efecto moverse la imagen con pagina */
    width: 100%;
    height: 100vh;
    background-image: url(banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1.05);
}

.info {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 30px 0;
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 12px;
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 20%;
    height: 510px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sesgoarriba {
    /* EFECTO SKEW (TRIANGULO DE IMAGEN ZONA ARRIBA DE LAS IMAGENES O GALERIA) */
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.sesgoabajo {
    /* EFECTO SKEW (TRIANGULO DE IMAGEN ZONA BAJA) */
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.nombre-galeria-soccerin {
    /* DISEÑO TARJETA COLOR VERDE DEL NOMBRE SOCCERIN */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}

.nombre-galeria-soccerin h4 {
    /* TEXTO EN BLANCO */
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
}

.nombre-galeria-soccerin div {
    /* BARRA DEBAJO DEL NOMBRE SOCCERIN */
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

header {
    width: 100%;
    height: 50px;
    background: rgba(52, 52, 51, 0.38);
    color: #fff;
    position: fixed;
    /* el menu-bar se quede quieto/pegado al momento de bajar por el documento*/
    top: 0;
    left: 0;
    z-index: 100;
}

header h1 {
    /* efecto letra "futbolin"*/
    text-shadow: 2px 2px 2px rgb(32, 113, 235);
}

.contenedor {
    /* en este proyecto todos los elementos trabajaran con el elemento div como clase contenedor */
    width: 98%;
    /* se aplica de 98% para al momento de hacer responsive este alineado con todos los elementos*/
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}


/* Parte de abajo copyright */

footer #info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* esten centrados */
    padding-bottom: 25px;
    background: #333;
    color: #fff;
}

.copy {
    font-size: 20px;
    margin-top: 10px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.sociales a {
    color: #fff;
    text-decoration: none;
}

.noticiass {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}


/* CONTINENTES PAGINAS PAISES */


/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* RESPONSIVE */

@media (min-width:1024px) {
    /* Correr el header y contenedor a la derecha */
    .contenedor {
        width: 1120px;
    }
}