@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.containerr{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containerr .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; /* transicion al colocar el mouse*/
}

.containerr .card:hover{  /* Efecto al colocar el mouse*/
    transform: translateY(-5px);
    box-shadow: 1px 5px 15px 3px #16506D;  /* Borde al rededor la caja  rgb(4, 66, 97);*/
}

.containerr .card img{  /* tamaño de imagenes */
    width: 330px;
    height: 220px;
}


.containerr .card h4{
    font-weight: 600;
}

.containerr .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.containerr .card a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.containerr .card a{ /* recuadro para 'leer mas' */
  display: block;
  width: 100px;
  color: rgb(0, 0, 0);
  text-decoration: none;  /* Quitar subrayado */
  padding: 7px;
  margin-top: 17px; /* Mas arriba o más abajo*/
  margin-left: auto; /* Centrar dentro del recuadro*/
  margin-right: auto; /* Centrar dentro del recuadro*/
  border: 3px solid rgb(0, 0, 0);

}
